.selectedPage {
    margin: 5px;
    font-weight: bold;
    font: 2em sans-serif;
}

.page {

    border-radius: 4px;
    margin: 5px;
    height: 2px;
    width: 5px;
}

.page:hover {
    cursor: pointer;
}