.profileInfo {
    padding: 20px
}


.img {
    width: 100%;
    height: 300px;
}

.descriptionBlock {
    padding: 10px;
    display: inline-block;

    background-color: whitesmoke;
    width: 100%;
    overflow: auto;
}

.description {

    float: left;
    margin: 5px;

}

.descriptionBlock img {
    vertical-align: top;
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    width: auto;
}

.fullName {
    font-size: 30px;
}

.contact_link {
    padding-left: 30px;
}

.contact_link:hover {
    cursor: pointer;
    color: lightblue;
}


.contact_media {
    display: inline-block;
    width: 50px;
    padding-right: 30px;
    padding-left: 30px;
}

.contact {
    padding: 5px 0;
    width: 750px;
}

.contacts {
    width: 400px;
    border-bottom: 2px solid black;
}

.aboutMe {
    display: block;
    width: 220px;
}

.formControl.error input,
.formControl.error textarea {
    border: 4px solid red;
}

.formControl.error span {
    color: red;
}

.formError {
    border: 4px solid red;
    padding: 5px;
    color: brown;
}