.myPosts {
    display: inline-block;
    margin: 10px;
    max-width: 95%;
}

.myPosts img {
    float: left;
    border-radius: 50px;
    width: 50px !important;
    height: 50px !important;
}

.myPosts_message {
    margin-left: 65px;
    margin-right: 55px;    
    overflow-wrap: break-word;
    min-width: 150px;
    max-width: 900px;
    color: lightgreen;

}
.likeBtn {
    margin-top: 10px;
    min-width: 70px;
    float: right;
}